.jialifn-toast {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #333;
  /* padding: 14px 20px; */
  border-radius: 6px;
  font-size: 14px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.3s ease;
  z-index: 9999;
  overflow: hidden;
}

.jialifn-toast.show {
  opacity: 1;
  transform: translateY(0);
}

/* For mobile */
@media (max-width: 575px) {
  .jialifn-toast {
    right: 0px;
  }
}