/* General Style */
.jialifn-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  color: #333;
}

.jialifn-container--bg-white {
  background: #fff;
}

.p-4 {
  padding: 40px;
}

h1.jialifn-heading {
  font-size: 26px;
}

h2.jialifn-heading {
  font-size: 24px;
}

h3.jialifn-heading {
  font-size: 22px;
}

h4.jialifn-heading {
  font-size: 20px;
}