/* General Style */
.jialifn-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  color: #333;
}

.jialifn-container--bg-white {
  background: #fff;
}

.p-4 {
  padding: 40px;
}

h1.jialifn-heading {
  font-size: 26px;
}

h2.jialifn-heading {
  font-size: 24px;
}

h3.jialifn-heading {
  font-size: 22px;
}

h4.jialifn-heading {
  font-size: 20px;
}

/* Bookmarks Style */
.jialifn-bookmark {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  font-size: inherit;
  color: inherit;
}

.jialifn-bookmark-button {
  cursor: pointer;
  transition: color 0.3s ease;
}

/* Table */
.table-responsive {
  width: 95%;
  overflow-x: auto;
  background: #fff;
  padding: 3rem 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 0 auto;
}

.jialifn-bookmarks-table td {
  text-align: start;
}
.jialifn-bookmarks-table td a {
  color: #1d4ed8;
  text-decoration: none;
}

/* Pagination */
.jialifn-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  list-style: none;
  padding: 0;
}

.jialifn-pagination a {
  text-decoration: none;
}

.jialifn-pagination .page-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  margin: 0 4px;
  border: 1px solid #ddd;
  border-radius: 50%;
  text-align: center;
}
